<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Тестовое задание</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

    <div id="react"></div>

    <script src="built/bundle.js"></script>

    <h5> Тестовое задание по отображению данных из .csv файла </h5>

    <div> - Удерживая левую кнопку мышки можно перемещать графики по оси Х и Y </div>
    <div> - Так же, удерживая левую кнопку и двигая мышку влево и вправо, можно изменять масштаб по оси X и Y </div>
    <h5> @ Павел Пахмутов </h5>

</body>
</html>